name: Build & Test

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy: 
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          # - windows-latest

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - if: matrix.os == 'ubuntu-latest'
      run: sudo apt -y install pkg-config
    - if: matrix.os == 'macos-latest'
      run: brew install pkg-config
    - name: Setup
      run: |
        echo ::set-env name=LIB_PATH::$GITHUB_WORKSPACE/evercrypt-sys/hacl-star/dist/gcc-compatible
    - name: Build hacl & evercrypt-sys
      run: ./evercrypt-sys/build.sh
    - name: Run evercrypt-sys tests
      run: |
        cd evercrypt-sys
        LD_LIBRARY_PATH=$LIB_PATH DYLD_LIBRARY_PATH=$LIB_PATH cargo test --verbose
    - name: Run evercrypt-rs tests
      run: |
        cd evercrypt-rs
        LD_LIBRARY_PATH=$LIB_PATH DYLD_LIBRARY_PATH=$LIB_PATH cargo test --verbose --features "rust-crypto-aes"
