name: Build & Test

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - if: matrix.os == 'ubuntu-latest'
        run: sudo apt -y install pkg-config
      - if: matrix.os == 'macos-latest'
        run: |
          brew install pkg-config
          sudo rm -Rf /Library/Developer/CommandLineTools/SDKs/*
          sudo xcode-select -s /Applications/Xcode_12.4.app
          rustup target install aarch64-apple-darwin
          rustup target install aarch64-apple-ios
      - name: Build
        run: cargo build --verbose
      - name: Apple Silicon Build
        if: matrix.os == 'macos-latest'
        run: |
          cargo build --target aarch64-apple-darwin --tests --verbose --features rust-crypto-aes
          cargo build --release --target aarch64-apple-darwin --tests --verbose --features rust-crypto-aes
      - name: iOS aarch64
        if: matrix.os == 'macos-latest'
        run: |
          cargo build --target aarch64-apple-ios --tests --verbose --features rust-crypto-aes
          cargo build --release --target aarch64-apple-ios --tests --verbose --features rust-crypto-aes
      - if: matrix.os == 'ubuntu-latest'
        name: Test evercrypt-rs
        run: |
          cd evercrypt-rs
          cargo test --verbose
      - name: Build (no-default-features)
        run: |
          cd evercrypt-rs
          cargo build --verbose --no-default-features
      - if: matrix.os == 'ubuntu-latest'
        name: Build & Test 32-bit Linux
        run: |
          cd evercrypt-rs
          cargo test --verbose --features rust-crypto-aes
      - name: Test (rust-crypto-aes)
        run: |
          cd evercrypt-rs
          cargo test --verbose --features rust-crypto-aes
      - name: Test (all-features)
        run: |
          cd evercrypt-rs
          cargo test --verbose --all-features
      - name: Release (all-features)
        run: |
          cd evercrypt-rs
          cargo clean
          cargo test --release --verbose --all-features
      - name: Benchmark (rust-crypto-aes)
        run: |
          cd evercrypt-rs
          cargo bench --verbose --features rust-crypto-aes
  fuzz:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Install latest nightly
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          default: true
      - uses: actions-rs/install@v0.1
        with:
          crate: cargo-fuzz
          version: latest
      - name: Fuzz AEAD
        run: |
          cd evercrypt-rs
          cargo fuzz run aead -- -runs=1000000
      - name: Fuzz ECDH
        run: |
          cd evercrypt-rs
          cargo fuzz run ecdh -- -runs=100000
